
<h1 style="color:white;">ようこそ</h1>
<a href="sign_up" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> 新規登録
</a>
<a href="sign_in" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> ログイン
</a>
