
<a href ="/post">投稿する</a> <a href ="/">ホームに戻る</a>
   <div id="images">
 <% @images.each do |image| %>
 <img src="<%= "/public/images/#{image["image"]}" %>" width="200" height="200"/>
 <p>name: <%= image["name"] %></p>
 <p>content: <%= image["content"] %></p>
 <% end %>

</div>

 