<form action="/post" method="POST" enctype="multipart/form-data">
      <input type="name" name="name" placeholder="名前を入力してください" required>
    <input type="content" name="content" placeholder="コメントを入力してください" required>
    <input type="file" name="img" id="img" />
      <input type="submit" value="送信する">
    </form> 

 