




<div class = "container">
	<div class="wrapper">
		<form action="/sign_up" method="post" name="Login_Form" class="form-signup">       
		    <h3 class="form-signin-heading">新規登録</h3>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="name" placeholder="名前を入力してください" required/>
               <input type="text" class="form-control" name="email" placeholder="メールアドレス" required=/>    
			  <input type="password" class="form-control" name="password" placeholder="パスワード" required=/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">新規登録</button>  			
		</form>			
	</div>
</div>