<p>※名前かパスワードが間違っています※</p>
<a href="/sign_in" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> もう一度ログイン画面へ
<a href="/sign_up" class="btn-flat-logo">
  <i class="fa fa-chevron-right"></i> 登録がまだの方はこちら
</a>